*{
    margin: 0;
}

/* shared-style */
.btn{

    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: none;
    background-color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
    color: white;
}


/* mainstyle */
#header{
    height: 808px ;
    width: 100% ;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat ;
    display: flex;
    justify-content: flex-end;
    align-items:center ;

}


#header .header-container{

    display: flex;
    justify-content: left;
    text-align: end;
    margin-right: 230px;
    
}
#header .header-container .header-content{

    width: 512px;
    text-align: right;
}

#header .header-container h1{

    color: #151414;
    font-size: 65px;
}
#header .header-container p{
    color: #444343;
    line-height:16px;
    margin-top: 32px;
    font-size: 16px;
}

#detail{
    margin-top: 131px ;
    

}
#detail .detail-content{
    align-items: center;
    display: flex;
    justify-content: center;
    width:67% ;
    max-width: 1072px;
    margin: 0 322px 0 206px ;
}

.detail-content .detail-box .detail-text{

    text-align: left;
    width: 416px;
    margin:   245px 0 78.3px 87px;
}
.detail-content .detail-box .detail-text h2{
    font-size: 40px;
    color: #151414;
}
.detail-content .detail-box .detail-text p{
    font-size: 16px;
    color: #444343;
    line-height: 26px;
    margin-top: 24px;
}
.detail-content .detail-box .detail-text ul{
    width: 349px;
    margin:  16px 67px 0 0;
    
    
}

.detail-content .detail-box .detail-text li{
    color:#444343 ;
    font-size: 16px;
    line-height: 26px;
    margin-top: 8px;
    list-style:'✔  ' ;
    
    
}
li::marker {
  color: #16D887; 
}

#plans {
    padding-top: 130px;
}

#plans .plans-container{

    width: 71%;
    max-width: 1141px;
    margin: 0 auto;
}

#plans .plans-container .plans-tittle{

    text-align: center;
    margin:0 auto;
    font-size: 40px;
    color: 15141;

}
#plans .plans-container .plans-box{

    display: flex;
    justify-content: space-between;
    padding-top: 61px;
}
.plans-box .plans-card{
    text-align: center;
    margin-top: 56px;
}

.plans-box .plans-card h3{

    font-size: 30px;
    color: #151414;
    padding-top: 24px;
}
.plans-box .plans-card p{

    font-size: 25px;
    color: #737272;
    padding-top: 16px;
}

#contract {
    padding-top: 130px;

}

#contract  .contract-container {
    background-image: url('../images/watch.png');
    width: 71%;
    border-radius: 8px ;
    max-width: 1140px;
    margin: 0 auto;
    border: none;
    height: 400px;
    background-repeat: no-repeat;
    
}
#contract  .contract-container .contract-containt{

    background-image: url('../images/gradient2.png');
    width: 100%;
    border-radius: 8px ;
    max-width: 1140px;
    margin: 0 auto;
    border: none;
    height: 400px;
    background-repeat: no-repeat;
    
}
.contract-container .contract-containt .contract-box {
    width: 459px;
    margin-left: 64px;
    padding-top: 59px;
    padding-bottom: 59px;
}

.contract-container .contract-containt .contract-box h1{
    font-size: 40px;
    color: white;
}

.contract-container .contract-containt .contract- .button-subcribe ,button{

    width: 160px;
    margin-top: 27px;
    height: 64px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
    color: #F15B22;
}

footer{
    background-color: #151414;
    margin-top: 130px;
    padding: 130px 0;
}

footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    gap: 331px;

}

footer .footer-container .social {

    max-width: 485px;
    
}

footer .footer-container .social h2{
    font-size: 45px;
    font-weight: bold;
    color: #F8F8F8;
}
footer .footer-container .social p{
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 16px;
}
footer .footer-container .social .contract-box{

    margin-top: 24px;
    text-align: left;
}
footer .footer-container .social .contract-box .social-icon , .socail-contract{

    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
footer .footer-container .social .contract-box .socail-contract li{

    color: white;
    font-size: 16px;
    line-height: 26px;
}
footer .footer-container .social .contract-box .social-icon {

    display: flex;
    margin-top: 32px;
    width: 175px ;
    gap: 17px;
    text-align: left;
}

.footer-container .form {
    width: 325px;
}
.footer-container .form h2 {
    font-size: 25px;
    color: white;
    font-weight: 600;
}
.footer-container .form input{
    margin-top: 31px;
    color: #F3F3F3 ;
    font-size: 18px;
    padding: 21px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 8px;
}