*{
    margin: 0;
}

/* shared-style */
.btn{

    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: none;
    background-color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
    color: white;
}


/* mainstyle */
#header{
    height: 808px ;
    width: 1598px ;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat ;
    display: flex;
    justify-content: flex-end;
    align-items:center ;

}


#header .header-container{

    display: flex;
    justify-content: left;
    text-align: end;
    margin-right: 230px;
    
}
#header .header-container .header-content{

    width: 512px;
    text-align: right;
}

#header .header-container h1{

    color: #151414;
    font-size: 65px;
}
#header .header-container p{
    color: #444343;
    line-height:16px;
    margin-top: 32px;
    font-size: 16px;
}
